@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@media screen and (max-width: 767px){

}
@media screen and (min-width: 768px) and (max-width: 991px){
    body{
        width: max-content;
        margin: 0;
    }
    
    header img{
        width: 206px;
        height: 102px;
        padding-left: 90px;
        padding-top: 26.12px;
        margin-bottom: 27.12px;
    }
    header{
        height: 774px;
        display: flex;
        flex-direction: column;
    }
    nav{
        width: 738px;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 53px;
        padding-right: 45px;
    }
    .nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .bann1{
        background: no-repeat center/ 100% url(Image/Rectangle48.png);
        height: 619px;
        display: flex;
        flex-direction: column;
        text-align: center ;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 58px;
        line-height: 80px;
    
    }
    .bann1 p:first-child{
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #F7F7F7;
        margin-top: 73px;
        
    }
    .bann1 p:nth-child(2){
        top: 126px;
        color: #ffffff;
    }
    h3{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 44px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #000000;
        opacity: 0.8;
        margin-left: 70px;
    }
    .contact{
        display: grid;
        grid-template-columns: 105px 320px 300px 320px auto;
        grid-template-rows: repeat(3,96px);
    }
    .name{
        grid-row: 1;
        grid-column: 2;
        display: flex;
        flex-direction: column;
    
    }
    .first-name{
        grid-row: 1;
        grid-column: 4;
        display: flex;
        flex-direction: column;
    }
    .telephone{
        grid-row: 2;
        grid-column: 2;
        display: flex;
        flex-direction: column;
    }
    .e-mail{
        grid-row: 2;
        grid-column: 4;
        display: flex;
        flex-direction: column;
    }
    .societe{
        grid-row: 3;
        grid-column: 2;
        display: flex;
        flex-direction: column;
    }
    .fonction{
        grid-row: 3;
        grid-column: 4;
        display: flex;
        flex-direction: column;
    }
    .objet{
        display: flex;
        flex-direction: column;
    }
    .objet1{
        display: flex;
        flex-direction: column;
        padding-left: 105px;
        padding-right: 394px;
    }
    iframe{
        padding-left: 105px;
    }
    button{
        height: 68px;
        width: 177px;
        background: #FA4A0C;
        box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
        border-radius: 30px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
        margin-left: 1015px;
        margin-top: 182px;
    }
    .fichier{
        padding-left: 105px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    body{
        width: max-content;
        margin: 0;
    }
    
    header img{
        width: 206px;
        height: 102px;
        padding-left: 90px;
        padding-top: 26.12px;
        margin-bottom: 27.12px;
    }
    header{
        height: 774px;
        display: flex;
        flex-direction: column;
    }
    nav{
        width: 738px;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 53px;
        padding-right: 45px;
    }
    .nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .bann1{
        background: no-repeat center/ 100% url(Image/Rectangle48.png);
        height: 619px;
        display: flex;
        flex-direction: column;
        text-align: center ;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 58px;
        line-height: 80px;
    
    }
    .bann1 p:first-child{
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #F7F7F7;
        margin-top: 73px;
        
    }
    .bann1 p:nth-child(2){
        top: 126px;
        color: #ffffff;
    }
    h3{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 44px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #000000;
        opacity: 0.8;
        margin-left: 70px;
    }
    .contact{
        display: grid;
        grid-template-columns: 105px 320px 300px 320px auto;
        grid-template-rows: repeat(3,96px);
    }
    .name{
        grid-row: 1;
        grid-column: 2;
        display: flex;
        flex-direction: column;
    
    }
    .first-name{
        grid-row: 1;
        grid-column: 4;
        display: flex;
        flex-direction: column;
    }
    .telephone{
        grid-row: 2;
        grid-column: 2;
        display: flex;
        flex-direction: column;
    }
    .e-mail{
        grid-row: 2;
        grid-column: 4;
        display: flex;
        flex-direction: column;
    }
    .societe{
        grid-row: 3;
        grid-column: 2;
        display: flex;
        flex-direction: column;
    }
    .fonction{
        grid-row: 3;
        grid-column: 4;
        display: flex;
        flex-direction: column;
    }
    .objet{
        display: flex;
        flex-direction: column;
    }
    .objet1{
        display: flex;
        flex-direction: column;
        padding-left: 105px;
        padding-right: 394px;
    }
    iframe{
        padding-left: 105px;
    }
    button{
        height: 68px;
        width: 177px;
        background: #FA4A0C;
        box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
        border-radius: 30px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
        margin-left: 1015px;
        margin-top: 182px;
    }
    .fichier{
        padding-left: 105px;
    }
}
@media only screen and (min-width: 1200px){
    body{
        width: max-content;
        margin: 0;
    }
    
    header img{
        width: 206px;
        height: 102px;
        padding-left: 90px;
        padding-top: 26.12px;
        margin-bottom: 27.12px;
    }
    header{
        height: 774px;
        display: flex;
        flex-direction: column;
    }
    nav{
        width: 738px;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 53px;
        padding-right: 45px;
    }
    .nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .bann1{
        background: no-repeat center/ 100% url(Image/Rectangle48.png);
        height: 619px;
        display: flex;
        flex-direction: column;
        text-align: center ;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 58px;
        line-height: 80px;
    
    }
    .bann1 p:first-child{
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #F7F7F7;
        margin-top: 73px;
        
    }
    .bann1 p:nth-child(2){
        top: 126px;
        color: #ffffff;
    }
    h3{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 44px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #000000;
        opacity: 0.8;
        margin-left: 70px;
    }
    .contact{
        display: grid;
        grid-template-columns: 105px 320px 300px 320px auto;
        grid-template-rows: repeat(3,96px);
    }
    .name{
        grid-row: 1;
        grid-column: 2;
        display: flex;
        flex-direction: column;
    
    }
    .first-name{
        grid-row: 1;
        grid-column: 4;
        display: flex;
        flex-direction: column;
    }
    .telephone{
        grid-row: 2;
        grid-column: 2;
        display: flex;
        flex-direction: column;
    }
    .e-mail{
        grid-row: 2;
        grid-column: 4;
        display: flex;
        flex-direction: column;
    }
    .societe{
        grid-row: 3;
        grid-column: 2;
        display: flex;
        flex-direction: column;
    }
    .fonction{
        grid-row: 3;
        grid-column: 4;
        display: flex;
        flex-direction: column;
    }
    .objet{
        display: flex;
        flex-direction: column;
    }
    .objet1{
        display: flex;
        flex-direction: column;
        padding-left: 105px;
        padding-right: 394px;
    }
    iframe{
        padding-left: 105px;
    }
    button{
        height: 68px;
        width: 177px;
        background: #FA4A0C;
        box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
        border-radius: 30px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
        margin-left: 1015px;
        margin-top: 182px;
    }
    .fichier{
        padding-left: 105px;
    }
}

